<?php

define( 'DB_NAME', 'wordpress' );
define( 'DB_USER', '{{ mysql.DB_USER }}' );
define( 'DB_PASSWORD', '{{ mysql.DB_PASSWORD }}' );
define( 'DB_HOST', '{{ mysql.DB_HOSTNAME }}' );
define( 'DB_CHARSET', 'utf8' );
define( 'DB_COLLATE', '' );

define('AUTH_KEY',         'UI(Ov|+LqbFtY1O_gv@+!$7+GCR5lkD+~7mbm5FfBuX1w_-P8t[2SV3M86;y6``p');
define('SECURE_AUTH_KEY',  '4WrlGHw{xgs{g}7S;_: $ 6L+l&00U3&@p:8&=[B&i`j} e@f`Ny$-[f,}dEK`+L');
define('LOGGED_IN_KEY',    'X>.5 KfFi_N<[Q?)eo$g/8Lm$Mla)B3xtRYDfO66yB]|&c]oyWkeYsFrX6,FPI5k');
define('NONCE_KEY',        '.TB%><--*RZ5B3PGa:BT6g.3y0{Ff2i1:JCiD-yvjslgKE1B:ZG`G%I|z|(FUl@`');
define('AUTH_SALT',        'a%07b=%>lNo#UJ1TzpKtI4?z|]k) (vUs#B;jz2`]#yu;v$;=<Cq&+%!HSY_?Kte');
define('SECURE_AUTH_SALT', 'Z0B-utDEM[;;[F+n^@Udq/jXxFf4[y@i4<#2u0Xy]eP,:HO,[8-Oi9>mgNND!a?e');
define('LOGGED_IN_SALT',   '|!K#Ht+!:BCvQ:.56%{lPP/-YaWd?Jp,Rrl)GYb>2Jl.6*%Fb@j<N7FUXFd;ZB.W');
define('NONCE_SALT',       '(j+]wPe:DWG0K#r1F7HJ(7SSB[D`/oK[iz0M&49`RdM&phktrT!.+fNI8mawcDl)');

$table_prefix = 'wp_';

define( 'WP_DEBUG', false );

if ( ! defined( 'ABSPATH' ) ) {
	define( 'ABSPATH', __DIR__ . '/' );
}

require_once ABSPATH . 'wp-settings.php';

